@media only screen and (max-width: 960px) {
  .copy {
    height: 100%;
    min-height: 750px; }

  .shadow {
    box-shadow: 0px 0px 0px 0px #fff; }

  li {
    margin-left: 0px; }

  li.left-item, li.right-item {
    display: none; }

  ul.mob-nav {
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 100vh;
    margin-left: -12.5%; }

  .mob-nav {
    display: none; }
    .mob-nav li {
      display: block;
      margin-left: 0px;
      padding: 8px; }

  .header .no-padd {
    margin-left: 0px; }

  .header nav {
    height: 70px; }

  .mobile {
    display: block !important; }

  li.no-padd {
    position: relative;
    z-index: 2; }

  .home-logo {
    width: 100%; }

  .title h2 {
    font-size: 30px; }

  #home {
    background-attachment: scroll !important; }

  .copy {
    height: 100%;
    min-height: 800px; }

  .title {
    left: 0% !important;
    top: 50% !important;
    width: 100%;
    padding: 10%;
    -webkit-transform: translate(0%, -50%) !important;
    transform: translate(0%, -50%) !important; }
 }

@media only screen and (max-width: 640px) {
  .sign-up p {
    line-height: 18px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .sign-up .close {
    float: right; }
  .sign-up div.wpcf7 img.ajax-loader {
    float: right;
    width: 20px; }

  .copy {
    height: 120%;
    min-height: 1000px; }

  li.no-padd {
    position: relative;
    z-index: 2;
    margin-left: 0px !important; }

  footer p, footer a {
    text-align: left;
    padding-left: 3%;
    font-size: 15px; }

  .contact {
    height: 700px; }

  #home {
    background-attachment: scroll !important; }

  a.blink {
    position: relative;
    right: 0%;
    top: 5px;
    font-family: 'NanamiPro-ExtraLight', sans-serif;
    font-weight: 400;
    text-transform: lowercase; }
 }
