$gold: #c2b49a;


/* `Body
----------------------------------------------------------------------------------------------------*/

body{
	background: white;
}

.mobile{
	display: none !important;
}

.mob-nav{
	display: none;
	}
	
.buorg {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    border-bottom: 1px solid #ccc;
	background: white no-repeat 13px center url(//browser-update.org/img/small/s.png);
	text-align: left;
	cursor: pointer;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	color: #666;
	font-size: 12px;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

header{
	background: white;
	position: fixed;
	margin: 0 auto;
	z-index: 999;
	transition: all 500ms ease-in;  
	-webkit-transition: all 500ms ease-in;  /* Safari */
	width: 100%;
	padding-top: 0px;
	z-index: 9999;
}


nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding:0px;
	margin: 0 auto;
	ul{
		text-align: center;
		li{
			display: inline-block;
			text-align: center;
		}
	}
}

  
.top-scroll{
	top:0px !important;
}


header.header-home{
	position: absolute;
	nav{
		display: block;
		position: absolute;
		top:40px;
		ul, li{
			display:  block;
			font-size: 16px;
			margin-bottom: 30px;
		}
	}
	.left-menu{
		left:5%;
		text-align: left;
	}
	.right-menu{
		right:5%;
		text-align: right;
	}
}

.header{
	
	margin-top:-130px;
	
	nav{
		padding: 10px 10%;
		padding-bottom: 13px;
	}

	.left-item{
		float: left;
		padding-top: 18px;
	}
	.right-item{
		float: right;
		padding-top: 18px;
	}
	.no-padd{
		padding: 0;
		margin: 0;
		margin-left: -40px;
	}
	li{
		display: inline-block;
		a{
		color: black;
		font-size: 16px;
		}
	}
	img{
		width: 50px;
	}
}

.small-logo{
	width: 50px;
}

.shadow{
	box-shadow: 0px 0px 10px 3px #ddd; 
}

.home-logo{
	width: 70%;
}


img.menu{
	width:30px;
	top: 25px;
	right: 5%;
	position: absolute;
}




/* `Divs
----------------------------------------------------------------------------------------------------*/	

.cd-section {
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
}

.copy{
	height: 70vh;
	min-height: 750px;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/	
div#footer.parallax__group{
	height: 200px; 
	overflow: auto;
	margin-top: 150px;
}

.footer-content{
	padding-top: 20px;
}

footer{
	background-color: white;
	text-align: left;
	position: relative;
	width: 100%;
	
}

footer p, footer a{
	padding-bottom: 5px;
	font-size: 14px;
	color: $gold;
	text-align: center;
}

a.blink{
	position: absolute;
	right:5%;
	top:20px;
	font-family: 'NanamiPro-ExtraLight' , sans-serif;
	font-weight: 400;
	text-transform: lowercase;
}
a.blink:hover{
	color: aqua;
}


/* `Button
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: white;
	border: 1px solid #58595b;
	color: #58595b;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 30px;
}

.button:hover,
.button:focus,
.button:active{
	color: white;
	background-color: #58595b;
	border-bottom-color: 0;
	
}


.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}


.flex-direction-nav a{
	top:30% !important;
}


/* `Contact Form ----------------------------------------------------------------------------------------------------*/

form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:100%;

}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: black;
	font-family: inherit;
	border: 2px solid $gold;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: $gold;
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 60%;
	padding-left: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.15s linear;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	font-weight: 200;
	border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	background-color: white;
	border: 2px solid $gold;
	
}

input[type="submit"]{
	background-color: $gold;
	color: black;
	padding:10px;
	font-family: 'NanamiPro-Bold' , sans-serif;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	width: 60%;
	border: 0.5px solid black;
	border-radius: 0px;

	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #222;
	color: white;
	cursor: pointer;
}

div.wpcf7-validation-errors{
	width:60%;
	color: #f7e700;
	font-family: 'NanamiPro-Bold' , sans-serif;
		font-family:'FuturaNo2SCDBoo W03 Regular';
}

div.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	width:60%;
	color: #398f14;
	font-family: 'NanamiPro-Bold' , sans-serif;
		font-family:'FuturaNo2SCDBoo W03 Regular';
	text-transform: uppercase;
}

div.wpcf7-response-output{
	width: 100%;
	position: relative;
	float: left;
}

.wpcf7-form p{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

input.wpcf7-form-control.wpcf7-submit{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}


.sign-up{
	background-color: $gold;
	height:45px;
	width: 100%;
	position: relative;
	padding: 0 10%;
	padding-top: 6px;
	p{
		color: black;
		display: inline;
		float: left;
		font-weight: 100;
		font-family: 'NanamiPro-Bold' , sans-serif;
		font-family:'FuturaNo2SCDBoo W03 Regular';
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 18px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 0px;
	}
	.close{
		float: right;
	}
	div.wpcf7 img.ajax-loader{
		float: right;
		width: 20px;
	}
}


.signup{
	background: $gold;
	height: 500px;
	min-height: 400px;
	max-height:900px;
	padding-top: 40px;
	padding-bottom: 40px;
}