$gold: #c2b49a;


h1, h2, h3, a, p, li{
	color: $gold;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	-webkit-font-smoothing: antialiased;

} 

h1, h3, a{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.3px;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	-webkit-font-smoothing: antialiased;
}

.title h2{
	font-family:'FuturaNo2SCDBoo W03 Regular';
	font-weight: 200;
	color: white;
	font-size: 54px;
}

.section{
	h2{
		font-weight: 600;
		color: black;
		font-size: 42px;
		font-family:'FuturaNo2SCDMed W03 Regular';
		line-height: 32px;
		padding-top: 30px;
		padding-bottom: 10px;
		letter-spacing: 0px;
		
	}	
	i{
		font-weight: 100;
		font-size: 14px;
		font-family:'FuturaNo2SCDBoo W03 Regular';
		padding-bottom: 40px;
	}
	p{
		color: black;
		margin: 30px 0;
		font-family:'FuturaNo2SCDBoo W03 Regular';
	}
	a{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 19px;
		border-bottom: 3px solid $gold;
		display: inline;
		padding-bottom: 2px;
	}
}

.contact {
	a{
		font-family:'FuturaNo2SCDBoo W03 Regular';
		font-weight: 200;
		letter-spacing: 0px;
		font-size: 17px;
		display: block;
		padding-bottom: 2px;
		border-bottom: none;
		color: black;
		text-transform: lowercase;
		margin-top: 5px;
		}
	
}

h3{
	font-family: 'NanamiPro-Bold' , sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 19px;
	display: block;
	padding-bottom: 2px;
}

.left-menu{
	a{
		text-align: left;
		float: left;
	}
}

.right-menu{
	a{
		text-align: right;
		float: right;
	}
}
	
nav {
	a{
		font-size: 18px;
		color: white;
	}
}

.header-home{
	nav{
		a{
			border-bottom: 2px solid white;
		}		
	}
}

a{
	margin-bottom: 20px !important;
	display: block;
}

p{
	font-family: 'NanamiPro-ExtraLight' , sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family:'FuturaNo2SCDBoo W03 Regular';
	font-weight: 200;
	letter-spacing: 0.2px;
	line-height: 1.6em;
	font-size: 17px;
}

a:hover{
	color: #666;
}


h1 {
    position: relative;
    margin-top: 20px;
    text-align:left;
    width: 100%;
    
 }

h1.title {
    margin-top: 0;
    margin-bottom: 40px;
}
  
h1.title:before {
    content: "";
    display: block;
    border-top: solid 2px $gold;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
  
h1.title span {
    background: black;
    padding-right: 20px;
    position: relative;
    z-index: 5;
}


nav{
	li{
		text-align: right;
		padding-bottom: 5px;
	}
	a{	
		margin-bottom: 0px !important;
	}
}

.button{
	font-family: 'NanamiPro-Bold' , sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
}


