$gold: #c39a6b;



/* `Body
----------------------------------------------------------------------------------------------------*/

body{
	background: white;
}


/* `Headings
----------------------------------------------------------------------------------------------------*/

header{
	background: transparent;
	position: relative;
	margin: 0 auto;
	z-index: 999;
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	width: 100%;
	padding-top: 20px;
	background-color: red;
}


nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding:0px;
	margin: 0 auto;
	ul{
		text-align: center;
		li{
			display: inline-block;
			text-align: center;
		}
	}
}


#photos{
	margin-bottom: 40px;
	img{
		width: 33%;
		padding: 1.5%;	
		float: left;
	}

}

#instafeed{
	img{
		width: 33%;
		padding: 1.5%;	
		float: left;
	}
}


.placeholder-image{
	width: 30%;
	background-color: #222;
	margin-right: 3%; 
	float: left;
	margin-bottom: 40px;
}

.home-logo{
	width: 200px; 

}


/* `Divs
----------------------------------------------------------------------------------------------------*/	

.section{
	height: 300px;
	width: 100%;
}

.image{
	background-color: #666;
	height:600px;
}

#about{
	background-color: green;
}
#vendors{
	background-color: grey;
}
#events{
	background-color: blue;
}
#gallery{
	background-color: yellow;
}
#location{
	background-color: purple;
}


/* `Footer
----------------------------------------------------------------------------------------------------*/	


footer{
	background-color: transparent;
	text-align: left;
	position: relative;
	border-top:2px solid #333;
	margin-top: 100px;
	width: 100%;
	
}

footer p, footer a{
	padding-bottom: 10px;
	font-size: 13px;
	color: #333;
}

.footer-content{
	padding-top: 40px;
}

p.copyright{
	color: #333;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 10px;
}



img.ft-logo{
	position: absolute;
	left:0px;
	bottom: 15px;
	width: 120px;
}

.knomad{
	font-family: 'Source Code Pro', sans-serif;
	position: absolute;
	color: #333;
	right:0px;
	bottom: 15px;
	font-size: 12px;
}

.knomad:hover{
	color: aqua;
}


/* `Button
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: white;
	border: 1px solid #58595b;
	color: #58595b;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 30px;
}

.button:hover,
.button:focus,
.button:active{
	color: white;
	background-color: #58595b;
	border-bottom-color: 0;
	
}


.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}


.flex-direction-nav a{
	top:30% !important;
}


/* `Contact Form ----------------------------------------------------------------------------------------------------*/

form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:60%;

}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: black;
	font-family: inherit;
	border: 2px solid $gold;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: $gold;
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 60%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	background-color: black;
	border: 2px solid $gold;
	
}

input[type="submit"]{
	background-color: $gold;
	color: black;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
	width: 60%;
	border: 0.5px solid black;
	border-radius: 0px;

	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #222;
	color: white;
	cursor: pointer;
}

div.wpcf7-validation-errors{
	width:60%;
	color: #f7e700;
	font-family: 'Montserrat', sans-serif;
}

div.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	width:60%;
	color: #398f14;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

div.wpcf7-response-output{
	padding: 1em 1em !important;
}




/* `Radio Buttons
----------------------------------------------------------------------------------------------------*/


.wpcf7-list-item input[type="radio"] {
    display:none; 
}

.wpcf7-list-item label {
    display:inline-block;
    background-color:black;
    border: 2px solid $gold;
    padding:20px 30px;
    font-family: 'Montserrat', sans-serif;
    color: $gold;
    text-transform: uppercase;
}

.wpcf7-list-item input[type="radio"]:checked + span.wpcf7-list-item-label { 
    color:white;
}